---
- name: apt install > common packages
  become: true
  ansible.builtin.apt:
    pkg:
      - build-essential
      - curl
      - git
      - git-credential-oauth
      - pipx
      - wget
    state: present
    update_cache: yes

- name: pipx > ensurepath
  ansible.builtin.command:
    cmd: 'pipx ensurepath'

- name: pipx > install uv
  community.general.pipx:
    name: uv
    state: present