---
- name: apt install > common packages
  become: true
  ansible.builtin.apt:
    pkg:
      - build-essential
      - curl
      - git
      - git-credential-oauth
      - pipx
      - wget
    state: present
    update_cache: yes

- name: pipx > ensurepath
  ansible.builtin.command:
    cmd: 'pipx ensurepath'

- name: pipx > install uv
  community.general.pipx:
    name: uv
    state: present

- name: apt install > gcm(1)
  ansible.builtin.get_url:
    url: https://github.com/git-ecosystem/git-credential-manager/releases/download/v2.6.1/gcm-linux_amd64.2.6.1.deb
    dest: /tmp/gcm.deb

- name: apt install > gcm(2)
  become: true
  ansible.builtin.apt:
    deb: /tmp/gcm.deb
    state: present
